{{#if resume.projects.length}}
  <section class="section">
    <header>
      <h2 class='section-title'>PROJETS <span class="item-count">({{resume.projects.length}})</span></h2>
    </header>
    <section id="projects">
      {{#each resume.projects}}
        <section class="project-item">
          {{#if name}}
            <header class="clear">
              {{#if name}}
                <div class="position">{{name}}</div>
              {{/if}}
              <div class="date">
                {{#if startDate}}
                  <span class="startDate">{{MY startDate}} - </span>
                {{/if}}
                {{#if endDate}}
                  <span class="endDate">{{MY endDate}}</span>
                {{else}}
                  <span class="endDate">Aujourd'hui</span>
                {{/if}}
              </div>
            </header>
          {{/if}}
          {{#location}}
            <span class="location">
      <span class="fas fa-map-marker-alt"></span>
              {{#if city}}
                <span class="city">{{city}},</span>
              {{/if}}
              {{#if countryCode}}
                <span class="countryCode">({{countryCode}})</span>
              {{/if}}
              {{#if region}}
                <span class="region">
                  {{region}}
                </span>
              {{/if}}
      </span>
          {{/location}}
          {{#if url}}
            <span class="website">
        <a target="_blank" href="{{url}}">{{url}}</a>
      </span>
          {{/if}}
          <div class="item">
            {{#if description}}
              <div class="summary">{{paragraphSplit description}}</div>
            {{/if}}
            {{#if highlights.length}}
              <ul class="highlights">
                {{#each highlights}}
                  <li>{{paragraphSplit .}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </section>
      {{/each}}
    </section>
  </section>
{{/if}}
